.landing-page-div {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 2% 6% 2% 6%;
}

.gradient-background {
  background: rgb(118,182,221);
  background: linear-gradient(90deg, rgba(118,182,221,0.7050438596491229) 18%, rgba(0,146,255,0.5939327485380117) 47%, rgba(0,103,196,0.5500730994152047) 71%, rgba(57,181,74,0.4389619883040936) 100%);
}

.landing-page-text {
  padding-left: 2%;
  padding-right: 2%;
}

.landing-page-first-img {
  width: 65%;
}

.landing-page-edit-img {
  width: 35% ;
}